body {
    padding-top: 5rem;
}

footer  {
    padding-top: 20px;
}

.news h2 {
  text-align: center;
  padding: 20px 20px;
  font-style: oblique;
}

.news h3 {
  text-align: center;
  font-style: oblique;
  font-weight: bold;
  font-size: 20px;
}

.news p {
  text-align: center;
  text-overflow: ellipsis;
  font-size: 15px;
  vertical-align: top;
  overflow: auto;
}

ul.news__list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  grid-gap: 50px;
}

ul.news__list li{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 150px 250px 150px;
    border-top-style: solid;
    border-top-color: blue;
    border-radius: 10px;
    box-shadow: 1px 3px 4px gray;
    height: 550px;
}

.news__list img{
  display: block;
  width: 250px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}
